<div class="well" ng-show="filters.length > 0">Active Filters ({{filters.length}}):
	<div class="alert alert-info" ng-repeat="filter in filters">
		<button type="button" class="close" ng-click="removeFilter(filter)">&times;</button>
		<filter-printer></filter-printer>
	</div>
	<h5>Actions</h5>
	<button class="btn-mini btn-inverse" ng-click="applylistMatching('black')">Blacklist all matching flows</button>
	<button class="btn-mini btn-inverse" ng-click="applylistMatching('white')">Whitelist all matching flows</button>
</div>

<form class="well" ng-show="chooseOrder">
	<p>Sort by new order: {{orderbyPath}} <i class="{{orderbyAsc && 'icon-arrow-up' || 'icon-arrow-down'}}" ng-show="pickOrderbyOp"></i></p>
	<p>
		<select ng-options="key as key for key in getKeys(orderbyObj)" 
		ng-model="orderbyKey" ng-hide="pickOrderbyOp" ng-change="updateOrderSelector()"></select>
		<span ng-show="pickOrderbyOp"><input type="checkbox" ng-model="orderbyAsc"> Ascending</span>
		<button class="btn-small btn-inverse" ng-show="pickOrderbyOp" ng-click="createOrderby()">Apply</button>
		<button class="btn-small btn-inverse" ng-show="orderbyStarted" ng-click="resetOrderby()">Reset</button>
	</p>
</form>

<div>
	<P>{{flows.length}} current flows. Click flow ID or entity address for details. Use filters to make browsing flows easier</p>
		<p>Flows sorted by <span class="btn btn-inverse" ng-click="changeOrder()" tooltip="Change sort order" tooltip-placement="top">{{orderby.path}}</span>
		<span class="btn btn-inverse" ng-click="toggleOrderby()"><i class="{{orderby.asc && 'icon-arrow-up' || 'icon-arrow-down'}}"></i></span></p>
		<div flow ng-repeat="flow in flows" ng-animate=" 'slide' ">
		</div>
</div>