<h4>Flow Details for ID: {{flowID}}</h4>

<p ng-hide="flow">Flow not found. ID incorrect or flow has expired. Flow archive search coming soon.</p>

<div ng-show="flow">
	<h5>Traffic between:</h5>
	<p><a ng-href="#/entities/{{flow.src.ent.id}}"><strong>{{flow.src.ip}}</strong></a> sent {{flow.sendbytes | bytesHuman}} ({{flow.sendbytes}} bytes)</p>
		<p>over port <strong>{{flow.src.port}}</strong></p>
	<h5>And:</h5>
	<p><a ng-href="#/entities/{{flow.dst.ent.id}}"><strong>{{flow.dst.ip}}</strong></a> sent {{flow.recvbytes | bytesHuman}} ({{flow.recvbytes}} bytes)</p>
	<p>over port <strong>{{flow.dst.port}}</strong></p>

	<hr>
	<h4>Whitelisting</h4>
	<p>
		Flow is currently on {{flow.list || "no"}} list.
	</p>
	<p>
		<button class="btn-small btn-inverse" ng-click="dolist(flow, 'black')">Blacklist Flow</button>
		<button class="btn-small btn-inverse" ng-click="dolist(flow, 'white')">Whitelist Flow</button>
	</p>
	
	<hr>
	<h4>Flow Graph</h4>
	<p>Sent = Purple, Received = Blue</p>
	<canvas class="smoothieCanvas1" flow-smoothie></canvas>
</div>