<h3>All Active Flows</h3> 
<div ng-repeat="chart in charts">
	<h5>{{chart.title}}</h5>
	<canvas class="smoothieCanvas1" flow-smoothie></canvas>
	<p>{{chart.desc}}</p>
</div>

<!-- <p><span class="label label-info" tooltip-placement="right" tooltip="Click on a flow for details.">{{getFlowCount()}} current flows</span></p>
<accordion close-others="false">
	<accordion-group ng-repeat="flow in flows">
		<accordion-heading>
			{{flow.src.ip}}:{{flow.src.port}}
			<i class='icon-resize-horizontal'></i>
			{{flow.dst.ip}}:{{flow.dst.port}}
		</accordion-heading>
		ID: {{flow.id}}. {{flow.sendbytes | bytesHuman}} sent <i class="icon-arrow-right"></i>. {{flow.recvbytes | bytesHuman}} sent <i class="icon-arrow-left"></i>.
	</accordion-group>
</accordion> -->