<!-- <p>{{notification | json}}</p> -->
<div class="well" style="margin:2px;padding:9px">
	<a href="#/flows/{{notification.data.id}}"><strong>ID: {{notification.data.id}}</a></strong>
	<br>
	<a href="#/entities/{{notification.data.src.ent.id}}">{{notification.data.src.ip}}:{{notification.data.src.port}}</a> 
	<i class="icon-arrow-right"></i> {{notification.data.sendbytes | bytesHuman}} 
	<br>
	{{notification.data.recvbytes | bytesHuman}} <i class="icon-arrow-left"></i> 
	<a href="#/entities/{{notification.data.dst.ent.id}}">{{notification.data.dst.ip}}:{{notification.data.dst.port}}</a>
</div>