<div class="modal-header">
	<h4>Filters</h4>
</div>
<div class="modal-body">
	<div class="well" ng-show="filters.length > 0">Active Filters ({{filters.length}}):
		<div class="alert alert-info" ng-repeat="filter in filters">
			<button type="button" class="close" ng-click="removeFilter(filter)">&times;</button>
			<filter-printer></filter-printer>
		</div>
	</div>

	<form class="well">
		<h4>
			Common Filters
		</h4>
		<div ng-repeat="category in categories">
			<H5>{{category}}</h5>
			<div ng-repeat="filter in sampleFilters[$index]">
				<div ng-hide="filter.modifiable">
					<button class="btn-small btn-inverse" ng-click="applySampleFilter(filter)">{{filter.desc}}</button>
				</div>
				<div ng-show="filter.modifiable">
					<span>{{filter.desc}}</span>:<br>
					<input type="text" ng-model="filter.userVal">
					<button class="btn-small btn-inverse" ng-click="applySampleFilter(filter)">Apply</a>
				</div>
			</div>
			<hr>
		</div>

		<div class="alert" ng-show="filterProblem">
			<button type="button" class="close" ng-click="clearAlert()">&times;</button>
			Incomplete filter. Please specify the property to check, the operator, and the comparison value
		</div>
		<p>Custom filter (powerusers): {{currentPath}} {{currentOp}} {{currentCompVal}}</p>
		<select ng-options="key as key for key in getKeys(currentObj)" 
		ng-model="currentKey" ng-hide="pickOp" ng-change="updatePropSelector()"></select>
		<div ng-show="pickOp">
			<select ng-options="op as op for op in operators" ng-model="currentOp"></select>
			<input type="text" ng-model="currentCompVal">
			<button class="btn-small btn-inverse" ng-click="filterLogicalOr = !filterLogicalOr">{{filterLogicalOr && "OR" || "AND"}}</button>
			<button class="btn-small btn-inverse"ng-click="createCustomFilter()">Apply</button>
		</div>
			<button class="btn-small btn-inverse" ng-show="buildStarted" ng-click="resetFilter()">Reset</button>
	</form>
</div>
<div class="modal-footer">
	<button ng-click="close()" class="btn btn-inverse">Close</button>
</div>