/*
cube color: 		#2B2BD6
cube highlight:		#8C22E3
*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    display: none;
}
 
::-webkit-scrollbar-track-piece  {
    background-color: #3b3b3b;
    -webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:vertical {
    -webkit-border-radius: 6px;
    background: #666 url(../img/scrollbar_thumb_bg.png) no-repeat center;
}

div.vistooltip{
	position: absolute;
	top: 300px;
	left: 300px;
	z-index: 10;
	background-color: rgba(47,47,47,0.9);
	border-radius: 10px;
	padding: 3px;
	opacity: 0.8;
	display: none;
}


canvas.visCanvas {
	z-index: -1;
	position: absolute;
}

div#stats {
  z-index: 3;
}

a:hover {
	text-decoration: none;
}

div {
  color: #c6c6c6;
  background: transparent;
}

div.visnavbar{
	position: absolute;
	text-align: center;
	width:100%;
	margin-top: 10px;
}

div.visviewContainer{
	position: absolute;
	background-color: rgba(47,47,47,0.9);
	height: 100%;
	width: 350px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.vismenuItem {
	color: #c6c6c6;
	background-color: rgba(59, 59, 59, 0.9);
	outline: 1px solid #c6c6c6;
	border: 0;
	padding: 5px 10px;
	cursor: pointer;
}
.vismenuItem:hover {
	background-color: rgba(59, 59, 59, 1);
}

ul.visflowul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/************************
**** CSS# animations ****
*************************/
.slide-enter-setup, .slide-leave-setup, .slide-move-setup{
	position:relative;

	-webkit-transition: all linear .5s;
	transition: all linear .5s;
}

.slide-enter-setup{
	left: 100px;
	line-height: 0;
	opacity: 0;
}
.slide-enter-setup.slide-enter-start{
	left: 0;
	line-height: 100%;
	opacity: 1;
}
.slide-leave-setup{
	left: 0;
	line-height: 100%;
	opacity: 1;
}
.slide-leave-setup.slide-leave-start{
	left: 100px;
	line-height: 0;
	opacity: 0;
}
.slide-move-setup{
	opacity:0.5;
}
.slide-move-setup.slide-move-start{
	opacity: 1;
}
