<img style="float:left;padding:4px" src="img/logo-icon.png" />
<p>Fingerprinting the network will whitelist current flows not already blacklisted and turn on change detection. This will generate an alert whenever a new communication or system is observed.
<button class="btn btn-inverse" ng-click="fingerprint()">Fingerprint Network</button><button class="btn btn-inverse" ng-click="ackAll()">Acknowledge All</button>
</p>
<h3>{{notifications.length}} Notifications</h3>
<div class="well" ng-repeat="notification in notifications">
	<button type="button" class="close" ng-click="ack(notification)">&times;</button>
	<p><strong>{{notification.type}}</strong> notification. Occurances: {{notification.occurances}}</p>
	<p>{{notification.message}}</p>
	<div ng-include="notification.templateURL"></div>
</div>