<img src="img/logo-helmet-trans.png" />

<!-- <img src="img/logo-icon.png" /> -->

<h3>Version</h3>
<p>Visdom v<span app-version></span> developed by <a href="http://southforksecurity.com" target="_blank">Southfork Security</a></p>

<h3>Modules</h3>
<h5>Loaded Modules:</h5>
<ul>
	<li>Flowview <span class="label label-info">OK</span></li>
	<li>Whitelist <span class="label label-info">OK</span></li>
	<li>Entity View <span class="label label-info">OK</span></li>
	<li>Vis3d<br><span class="label label-warning">Warning</span> version incompatible. Some features may not work correctly</li>
	<li>FlowGraphs <span class="label label-inverse">Experimental</span></li>
</ul>

<h5>Modules not loaded:</h5>
<ul>
	<li>Long Term Storage <br><span class="label label-warning">Warning</span> Notifications, blacklists, filters, and other data will be lost upon closing your browser</li>
</ul>

<hr>
<h4>Shoutouts</h4>
<p>Built with <a href="http://angularjs.org/" target="_blank">AngularJS</a></p>
<p>Built with <a href="http://threejs.org/" target="_blank">ThreeJS</a></p>
<p>This product includes GeoLite data created by MaxMind, available from
  <a href="http://www.maxmind.com">http://www.maxmind.com</a>.<p>
