<!doctype html>
<!-- 
/*====================================================================
Copyright 2013 Southfork Security, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
====================================================================*/
 -->
<html lang="en" ng-app="visdomNG">
<head>
	<title>Visdom</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/darkstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/app.css" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
	<!-- JAVASCRIPT INCLUDE MESS TODO: get a real build/env system running (yeoman? grunt? bower?)  -->
	<!-- three.js and 3D visdom code -->
	<script src="lib/three.js"></script>
	<script src="lib/tween.min.js"></script>
	<script src="lib/stats.min.js"></script>
	<script src="lib/jquery-1.8.2.js"></script>
	<script src="lib/dat.gui.min.js"></script>
	<script src="lib/TrackballControls.js"></script>
	<script src="lib/FlyControls.js"></script>
	<script src="lib/FirstPersonControls.js"></script>

	<script src="js/visdom.js"></script>
	<script src="js/visdom/hud.js"></script>
	<script src="js/visdom/spark.js"></script>
	<script src="js/visdom/db.js"></script>
	<script src="js/visdom/flame.js"></script>
	<!-- end three.js and 3D visdom code -->

	<!-- Angular libs -->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	<!-- end Angular libs -->

	<!-- other 3rd party libs -->
	<script src="lib/smoothie.js"></script>
	<script src="lib/ui-bootstrap-tpls-0.4.0.js"></script>
	<!-- end other 3rd party libs -->

	<!-- CORE APP -->
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/service-socketFlow.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
	<!-- end angular and core app -->

	<!-- modules -->
	<script src="m/vis3d/module.js"></script>

	<script src="m/flowView/module.js"></script>
	<script src="m/flowView/directives.js"></script>
	<script src="m/flowView/filters.js"></script>
	<script src="m/flowView/services.js"></script>
	<script src="m/flowView/controllers.js"></script>

	<script src="m/entView/module.js"></script>
	<script src="m/entView/controllers.js"></script>
	<!-- end modules -->
	
	<div class="visnavbar navbar" ng-controller="navCtrl">
		<p>
			<!-- module links to load the view -->
			<span class="vismenuItem" ng-repeat="nav in navItems" ng-click="doNavClick(nav)"><strong>{{nav.text}}</strong></span>
			<!-- end module links -->
			<span class="vismenuItem" ng-click="doStaticNav('notifications')">
				<strong>Notifications</strong> <span class="badge" ng-class="{'badge-important':notifications.length > 0}">{{notifications.length}}</span>
			</span>
			<span class="vismenuItem" ng-click="doStaticNav('version')"><strong>About</strong></span>
		</p>
	</div>
	
	<div ng-controller='vis3dCtrl' visdom>
	
	</div>
	<div class="visviewContainer">
		<div ng-view></div>
	</div>
	<div class="vistooltip"></div>
</body>
</html>
