<script>
var loc = window.location,
    new_uri;

var sendByteDiff = 0;
var recvByteDiff = 0;

//smoothie pieces
var smoothieObj = null;
var timeSeries = null;
var updateSeries = false;

if (loc.protocol === "https:") {
  new_uri = "wss:";
} else {
  new_uri = "ws:";
}
new_uri += "//" + loc.host;
new_uri += "/socket";

socket = new WebSocket(new_uri);

socket.onopen = function() {
	console.log("Socket is ready");
  socket.send("GET_GEO_LOCATION 12 8.8.8.8");
	// socket.send("GET_GEO_LOCATION 12 10.0.0.5");
  document.getElementById("send").innerHTML = "GET_GEO_LOCATION 12 10.0.0.5";
};
socket.onmessage = function(event) {
  console.log("Msg received:" + event.data);
  var update = JSON.parse(event.data);
  console.log(update);

  document.getElementById("response").innerHTML = JSON.stringify(update);
};
socket.onclose = function(event) {
	console.log("Socket closed");
};

</script>

<h1>Sending: </h1>
<p id="send"></p>
<hr>
<h1>Received: </h1>
<p id="response">Open up the console to see websocket printout</p>