body
{
background-image:url('/login/images/logo-helmet.png');
background-repeat:no-repeat;
background-position: top;
background-attachment: fixed;
background-color: #0000000;
}

input[type="text"] {
border: 2px solid #000000;
background: #ffffff;
color:#000000;
}

input[type="password"] {
border: 2px solid #000000;
background: #ffffff;
color:#000000;
}

input[type="submit"] {
border: thin #000000 outset;
background: transparent;
color:#0000000;
}

input[type="submit"]:hover {
border: thin #999999 outset;
filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;
background: #FFFFFF;
color: #000000;
}
input[type="submit"]:focus  {
border: thin #000000 solid;
background: #FFFFFF;
color: #000000;
}
input[type="submit"]:focus:hover {
border: thin #000000 solid;
filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;
background: #FFFFFF;
color: #000000;
}
input[type="reset"] {
border: thin #000000 outset;
background: transparent;
color:#0000000;
}
input[type="reset"]:hover {
border: thin #999999 outset;
filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;
background: #FFFFFF;
color: #000000;
}
input[type="reset"]:focus  {
border: thin #000000 solid;
background: #FFFFFF;
color: #000000;
}
input[type="reset"]:focus:hover {
border: thin #000000 solid;
filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
background: #000000;
color: #FFFFFF;
}

#box
{
position: absolute;
width: 50%;
height: 20%;
left: 42%;
top: 65%;
}

#box_error
{
position: absolute;
width: 50%;
height: 20%;
left: 39%;
top: 65%;
}

#text
{
font-family:arial;
color:black;
font-size:14px;
}
