<h3>Entity info for ID: {{entID}}</h3>

<p ng-hide="entity">Entity not found. ID incorrect or entity has expired. Entity archive search coming soon.</p>
<div ng-show="entity">
	<p>Name: {{entity.name}}</p>
	<p>GeoLocation: {{entity.location | entLocation}}</p>

	<hr>
	<h4>Whitelisting</h4>
		<p>
			Entity is currently on {{entity.list || "no"}} list.
		</p>
		<p>
			<button class="btn-small btn-inverse" ng-click="dolist(entity, 'black')">Blacklist Entity</button>
			<button class="btn-small btn-inverse" ng-click="dolist(entity, 'white')">Whitelist Entity</button>
		</p>
	<hr>
	<h4>{{entity.flows.length}} flows for this entity:</h4>
	<div flow ng-repeat="flow in entity.flows" ng-animate=" 'slide' "></div>
</div>